<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World</h1>
  <ol>
    <li>Set <a href="<%= appUrl %>/app.xml" target="__blank"><%= appUrl %>/app.xml</a> to Application URL on Hangout API setting page</li>
    <li>Click <span class="g-hangout" data-render="createhangout" data-initial_apps="[{ app_id: '<%= appId %>', app_type: 'LOCAL_APP' }]"></span></li>
  </ol>
  <a href="#" onClick="window.open('/login', '_blank', 'width=800,height=600');">login</a>
  <a href="/logout">logout</a>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>
