<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>OAuth callback</title>
</head>
<body>
  <script>
    window.onload = function() {
      window.close();
    }
  </script>
</body>
</html>
